node_modules/
.husky/
.cursor/
.vscode/
build/
*.hot-update.js
*.hot-update.json
.DS_Store
html_tailwind/*

vendor/
*.log
*.lock
*.env
*.env.local
*.env.development
*.env.test
*.env.production
*.cache
*.tmp
*.bak